html {
  scroll-behavior: smooth;
}

body {
  color: #2a2a2a;
}

a {
  color: #2a2a2a;
}

.visually-hidden {
  display: none;
}

.card-category {
  color: #e74c3c;
}

.section-tagline {
  color: #e74c3c;
}